.navigation {
    padding: 10px;
    background-color: lightblue;
}

.navigation-list {
    list-style-type: none;
    display: flex;
}

.navigation-item {
    padding: 10px;
}

.navigation-item a {
    text-decoration: none;
    color: darkcyan;
    cursor: pointer;
}